article {
  display: inline-grid;
  gap: 2ch;
  background: var(--surface2);
  padding: 2ch;
  border-radius: 1ch;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.2);

  > * {
    margin: 0;
  }

  > p + :matches(h1, h2, h3, h4, h5, h6) {
    margin-top: 2ch;
  }
}

.skills {
  display: inline-flex;
  gap: 1rem;
  font-size: clamp(100%, calc(3rem + var(--base-clamp-threshold)), 5rem);
}

@import 'about';
