@keyframes portrait-enter {
  0% {
    clip-path: polygon(-25% 0%, 0% 50%, -25% 100%, -100% 100%, -75% 50%, -100% 0%);
    transform: translateX(-100%);
  }
  75% {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  100% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    transform: translateX(0);
  }
}

@keyframes portrait-leave {
  0% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1%);
  }
  75% {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  100% {
    clip-path: polygon(175% 0%, 200% 50%, 175% 100%, 100% 100%, 125% 50%, 100% 0%);
    transform: translateX(-110%);
  }
}

aside {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;

  display: grid;
  grid-template-columns: [nav] 2fr [escape] 1fr;
  position: sticky;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  overflow: hidden auto;
  overscroll-behavior: contain;
  z-index: 1;

  @media (max-width: 540px) {
    visibility: hidden; /* not keyboard accessible when closed */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo), visibility 0s linear var(--duration);

    &.open {
      visibility: visible;
      transform: translateX(0);
      transition: transform var(--duration) var(--easeOutExpo);
    }
  }
}

.aside-nav--open {
  --size: 4rem;

  display: flex;
  place-content: center;
  padding: 1rem;
  box-sizing: border-box;
  // border-radius: 50%;
  border: 2px solid transparent;
  block-size: var(--size);
  inline-size: var(--size);
  outline: none;
  transition: border-color 0.25s ease, background-color 0.25s ease;

  &:hover {
    border-color: var(--brandHSL) / 50%;
  }

  &:focus {
    border-color: var(--brandHSL) / 12%;
    background: var(--brandHSL) / 10%;
  }

  &:hover svg > line {
    stroke: var(--brandHSL);
  }

  &:active {
    background: var(--brandHSL) / 20%;
  }
}

.aside-nav--close {
  outline-offset: -1px;
  outline: 1px solid transparent;

  &:focus {
    outline-color: var(--brandHSL);
    transition: outline-color 0.25s ease;
  }
}

.aside-nav--open,
.aside-nav--close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;

  @media (min-width: 540px) {
    display: none;
  }
}

/* use this if copying/pasting skeleton */
/* @media (max-width: 540px) {
  #sidenav-open > nav {
    background-color: white;
  }
}
#sidenav-button > svg {
  max-width: 50px;
  > line {
    stroke: black;
    stroke-width: 7px;
  }
} */

/* these are styles to make it pretty */
/* sidenav.css has all the layout, state and functionality */

nav {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  // font-size: 1.25rem;
  color: var(--text);
  background-color: var(--dout--background-color-primary);

  @media (min-width: 540px) {
    padding-block-start: 0;
  }

  @media (max-width: 540px) {
    border-inline-end: 1px var(--surface1);
    box-shadow: 5px 0 40px hsla(0, 0%, 0%, 0.45);
    // font-size: 1.5rem;
  }

  > h4 {
    text-transform: uppercase;

    &:not(:first-child) {
      margin-block-start: 2rem;
    }
  }

  ul {
    padding: 0;

    li {
      cursor: pointer;
    }

    a {
      text-decoration: none;
      line-height: 1.25;
      cursor: pointer;
    }
  }

  figure {
    position: relative;
    border: 0.3rem solid var(--brandHSL);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 639px) {
      justify-content: center;
    }

    min-width: 10rem;

    @supports (aspect-ratio: 1 / 1) {
      aspect-ratio: 1 / 1;
    }

    @supports not (aspect-ratio: 1 / 1) {
      padding-top: 100%;
    }

    --animation-name: portrait-leave;
    --animation-duration: 0;
    --translate-x: -120%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      image-rendering: pixelated;
      image-rendering: crisp-edges;

      object-fit: cover;

      ~ img {
        image-rendering: initial;

        transform: translateX(var(--translate-x));
        animation: var(--animation-name) var(--animation-duration);
      }
    }
  }
}

// nav {
//   a {
//     font-weight: 800;
//     letter-spacing: 0.05rem;
//     text-transform: uppercase;
//     color: $gray-300;

//     &:hover {
//       color: $gray-100;
//     }
//   }

//   .navbar-toggler {
//     &:focus {
//       outline-color: lighten($primary, 15%);
//     }
//   }
// }

// @media (min-width: 992px) {
//   nav {
//     text-align: center;
//     position: fixed;
//     top: 0;
//     left: 0;

//     display: flex;
//     flex-direction: column;

//     width: $sidebar-base-width;
//     height: 100vh;

//     .navbar-brand {
//       display: flex;
//       margin: auto auto 0;
//       padding: 0.5rem;

//       .img-profile {
//         max-width: 10rem;
//         max-height: 10rem;
//         border: 0.5rem solid fade-out($white, 0.8);
//       }
//     }

//     .navbar-collapse {
//       display: flex;
//       align-items: flex-start;
//       flex-grow: 0;

//       width: 100%;
//       margin-bottom: auto;

//       .navbar-nav {
//         flex-direction: column;

//         width: 100%;

//         .nav-item {
//           display: block;

//           .nav-link {
//             display: block;
//           }
//         }
//       }
//     }
//   }
// }

// .navbar-brand,
// .nav-item {
//   cursor: pointer;
// }

// nav .navbar-nav .nav-item .nav-link {
//   font-weight: 800;
//   letter-spacing: 0.05rem;
//   text-transform: uppercase;
// }

// nav .navbar-toggler:focus {
//   outline-color: #d48a6e;
// }

// @media (min-width: 992px) {
//   nav {
//     text-align: center;
//     position: fixed;
//     top: 0;
//     left: 0;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     width: 17rem;
//     height: 100vh;
//   }
//   nav .navbar-brand {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     margin: auto auto 0;
//     padding: 0.5rem;
//   }
//   nav .navbar-brand .img-profile {
//     max-width: 10rem;
//     max-height: 10rem;
//     border: 0.5rem solid rgba(255, 255, 255, 0.2);
//   }
//   nav .navbar-collapse {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: start;
//     -ms-flex-align: start;
//     align-items: flex-start;
//     -webkit-box-flex: 0;
//     -ms-flex-positive: 0;
//     flex-grow: 0;
//     width: 100%;
//     margin-bottom: auto;
//   }
//   nav .navbar-collapse .navbar-nav {
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     width: 100%;
//   }
//   nav .navbar-collapse .navbar-nav .nav-item {
//     display: block;
//   }
//   nav .navbar-collapse .navbar-nav .nav-item .nav-link {
//     display: block;
//   }
// }
