@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Medium.eot');
  src: url('../fonts/FiraCode-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraCode-Medium.woff2') format('woff2'), url('../fonts/FiraCode-Medium.woff') format('woff'),
    url('../fonts/FiraCode-Medium.ttf') format('truetype'),
    url('../fonts/FiraCode-Medium.svg#FiraCode-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
  block-timeout: 0.3; //300 ms
  swap-timeout: 0; // Never swap
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Bold.eot');
  src: url('../fonts/FiraCode-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraCode-Bold.woff2') format('woff2'), url('../fonts/FiraCode-Bold.woff') format('woff'),
    url('../fonts/FiraCode-Bold.ttf') format('truetype'), url('../fonts/FiraCode-Bold.svg#FiraCode-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
  block-timeout: 0.3; //300 ms
  swap-timeout: 0; // Never swap
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Light.eot');
  src: url('../fonts/FiraCode-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraCode-Light.woff2') format('woff2'), url('../fonts/FiraCode-Light.woff') format('woff'),
    url('../fonts/FiraCode-Light.ttf') format('truetype'),
    url('../fonts/FiraCode-Light.svg#FiraCode-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
  block-timeout: 0.3; //300 ms
  swap-timeout: 0; // Never swap
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Retina.eot');
  src: url('../fonts/FiraCode-Retina.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraCode-Retina.woff2') format('woff2'), url('../fonts/FiraCode-Retina.woff') format('woff'),
    url('../fonts/FiraCode-Retina.ttf') format('truetype'),
    url('../fonts/FiraCode-Retina.svg#FiraCode-Retina') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  block-timeout: 0.3; //300 ms
  swap-timeout: 0; // Never swap
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.eot');
  src: url('../fonts/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraCode-Regular.woff2') format('woff2'), url('../fonts/FiraCode-Regular.woff') format('woff'),
    url('../fonts/FiraCode-Regular.ttf') format('truetype'),
    url('../fonts/FiraCode-Regular.svg#FiraCode-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  block-timeout: 0.3; //300 ms
  swap-timeout: 0; // Never swap
}
