.layout {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
  grid-template-areas: 'header header' 'stack stack';
  max-width: 100%;

  @media (max-width: 540px) {
    > aside,
    > main {
      grid-area: stack;
    }
    
    > main {
      padding: 0 var(--base-gutter);
    }
  }
}

@import './header';
@import './nav';
