<section class="resume-section" id="experience">
  <h2 class="text-primary">Experience</h2>
  <div class="resume-item">
    <div class="resume-content">
      <h3>Frontend Development Lead - Mentor - Speaker</h3>
      <h5>MONK Software s.r.l.</h5>
      <div class="resume-date">
        <span class="text-primary">September 2022 - Present</span>
      </div>
      <p>
        as a Mentor:
        <br />
        Organization and presentation of a course concerning Frontend in general and more specifically in
        UI/UX Engineering
        <br /><br />
        Lessons:
        <ul>
          <li>Typography (Typeface, Fonts, Font Stacks, Variable Fonts)</li>
          <li>Layout & Responsive (Mobile First, Gridless Design, Asymmetric Design)</li>
          <li>HTML with CSS superpowers (Grid & Flex, Container Queries, Scrollsnap, CSS Layers)</li>
          <li>Color Theory (Color Wheel, HSL, Palettes, Shadows)</li>
          <li>A11y (Accessibility)</li>
          <li>Best Practices, Performances & Tooling</li>
          <li>Design Analysis (Discussions about analyzing and implementing a design)</li>
          <li>Forms (Managing & Customizing User Input, Custom UI Form controls, Validation)</li>
          <li>Web Components (Designing and Implementing Custom Elements)</li>
        </ul>
        <br />
        as a UI/UX Engineer:
        <br />
        Many different projects for the major italian and international customers of Assist Digital, just a few examples
        <br /><br />
        Project: MySupport
        <ul>
          <li>Client: Team System S.p.A.</li>
          <li>Role: UI/UX Development Lead</li>
          <li>Software type: Web Application</li>
          <li>Technologies used: Angular + HTML5 + CSS3</li>
          <li>Description: Customer and Administration Areas for a Ticket Management System and Online Courses</li>
        </ul>
        <br /><br />
        Project: After sales
        <ul>
          <li>Client: Gucci S.p.A.</li>
          <li>Role: UI/UX & Frontend Developer</li>
          <li>Software type: Web Application</li>
          <li>Technologies used: React + HTML5 + CSS3 + Semantic UI + graphQL</li>
          <li>Description: Customer After Sales Ticket Management System, progress tracking, managing and delivery</li>
        </ul>
        <br /><br />
        Project: MyBusiness
        <ul>
          <li>Client: Vodafone S.p.A.</li>
          <li>Role: Frontend Developer</li>
          <li>Software type: Hybrid Mobile Application</li>
          <li>Technologies used: AngularJS + HTML5 + CSS3</li>
          <li>Description: Business Customer App</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="resume-item">
    <div class="resume-content">
      <h3>Senior UI/UX Engineer - Mentor</h3>
      <h5>Assist Digital S.p.A.</h5>
      <div class="resume-date">
        <span class="text-primary">April 2019 - September 2022</span>
      </div>
      <p>
        as a Mentor:
        <br />
        Organization and presentation of a course concerning Frontend in general and more specifically in
        UI/UX Engineering
        <br /><br />
        Lessons:
        <ul>
          <li>Typography (Typeface, Fonts, Font Stacks, Variable Fonts)</li>
          <li>Layout & Responsive (Mobile First, Gridless Design, Asymmetric Design)</li>
          <li>HTML with CSS superpowers (Grid & Flex, Container Queries, Scrollsnap, CSS Layers)</li>
          <li>Color Theory (Color Wheel, HSL, Palettes, Shadows)</li>
          <li>A11y (Accessibility)</li>
          <li>Best Practices, Performances & Tooling</li>
          <li>Design Analysis (Discussions about analyzing and implementing a design)</li>
          <li>Forms (Managing & Customizing User Input, Custom UI Form controls, Validation)</li>
          <li>Web Components (Designing and Implementing Custom Elements)</li>
        </ul>
        <br />
        as a UI/UX Engineer:
        <br />
        Many different projects for the major italian and international customers of Assist Digital, just a few examples
        <br /><br />
        Project: MySupport
        <ul>
          <li>Client: Team System S.p.A.</li>
          <li>Role: UI/UX Development Lead</li>
          <li>Software type: Web Application</li>
          <li>Technologies used: Angular + HTML5 + CSS3</li>
          <li>Description: Customer and Administration Areas for a Ticket Management System and Online Courses</li>
        </ul>
        <br /><br />
        Project: After sales
        <ul>
          <li>Client: Gucci S.p.A.</li>
          <li>Role: UI/UX & Frontend Developer</li>
          <li>Software type: Web Application</li>
          <li>Technologies used: React + HTML5 + CSS3 + Semantic UI + graphQL</li>
          <li>Description: Customer After Sales Ticket Management System, progress tracking, managing and delivery</li>
        </ul>
        <br /><br />
        Project: MyBusiness
        <ul>
          <li>Client: Vodafone S.p.A.</li>
          <li>Role: Frontend Developer</li>
          <li>Software type: Hybrid Mobile Application</li>
          <li>Technologies used: AngularJS + HTML5 + CSS3</li>
          <li>Description: Business Customer App</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="resume-item">
    <div class="resume-content">
      <h3>Senior UI/UX Engineer</h3>
      <h5>Freelance</h5>
      <div class="resume-date">
        <span class="text-primary">April 2012 - April 2019</span>
      </div>
      <p>
        Many different projects and corporate websites, just a couple of examples:
        <br /><br />
        Project: Ticket System
        <ul>
          <li>Client: Thera s.r.l.</li>
          <li>Role: Full-stack Developer</li>
          <li>Software type: Web Application</li>
          <li>Technologies used: ASP.NET MVC + WCF + HTML5 + CSS3 + jQuery + SQL</li>
          <li>Description: Customer Ticket Management System, tracking progress, managing and assigning tasks to the development team</li>
        </ul>
        Project: Alitalia Online Booking
        <ul>
          <li>Client: Engineering S.p.A. through Thera s.r.l.</li>
          <li>Role: Web Developer</li>
          <li>Software type: Web Portal</li>
          <li>Technologies used: ASP.NET MVC + WCF + HTML + CSS2 + jQuery + SQL</li>
          <li>Description: Alitalia portal for searching, booking, and ticketing of flights for the national airline</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="resume-item">
    <div class="resume-content">
      <h3>Senior Full-stack Developer</h3>
      <h5>Thera s.r.l.</h5>
      <div class="resume-date">
        <span class="text-primary">June 2007 - April 2012</span>
      </div>
      <p>
        Project: Accident at work Management
        <ul>
          <li>Client: Autostrade S.p.A.</li>
          <li>Role: Full-stack Developer</li>
          <li>Software type: Web Application</li>
          <li>Technologies used: ASP.NET + HTML + CSS2 + Javascript + Adobe Flash + SQL</li>
          <li>Description: Create and manage an accident at work archive, the system provides a flash application to create a graph in order to better understand the event</li>
        </ul>
        Project: INPS
        <ul>
          <li>Client: Elsag-Datamat S.p.A.</li>
          <li>Role: Developer Analyst</li>
          <li>Software type: Components for web portal</li>
          <li>Technologies used: ASP.NET + Web Services + HTML + CSS2 + jQuery + SQL</li>
          <li>Description: Management system and menu profiling of services to the citizen</li>
        </ul>
        Project: GEA
        <ul>
          <li>Client: Baicr S.C.A.R.L.</li>
          <li>Role: Developer</li>
          <li>Software type: Windows Forms Management Application + Web Portal</li>
          <li>Used technologies: Visual C# + ASP.NET + Web Services + HTML + CSS2 + jQuery + SQL</li>
          <li>Description: Application aimed at managing the document archiving of the Company's Historical Archives.</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="resume-item">
    <div class="resume-content">
      <h3>Mid Frontend Developer</h3>
      <h5>Zucchetti Software s.r.l.</h5>
      <div class="resume-date">
        <span class="text-primary">October 2005 - June 2007</span>
      </div>
      <p>
        SitePainter and Corporate Portal projects development
      </p>
    </div>
  </div>
  <div class="resume-item">
    <div class="resume-content">
      <h3>Junior Fullstack Developer</h3>
      <h5>Thera s.r.l.</h5>
      <div class="resume-date">
        <span class="text-primary">January 2002 - October 2005</span>
      </div>
      <p>
        Many projects creation and maintenance in Desktop and Frontend environments
      </p>
    </div>
  </div>
</section>



<!-- Projects which I am comfortable in:
- Any Kind of Web Projects, including:
  - Social Platforms
  - Crowdfunding Platforms
  - Custom Web Platforms
  - Web Sites
  - Mobile Applications
  - Web Based Admins
  - Blogs
  - Forum
  - eCommerce

Used Technologies:
⁃ HTML5
- CSS3
- Sass
- Javascript (OOP)
- AngularJS
- Angular v2+
- React
- Vue.js
- Knockout.js
- JSON
- PHP
- Symfony 2
- Twig
- VSCode
- WebStorm
- Sketch
- Xcode
- Phonegap
- Objective-C
- Android Studio -->
