<header>
  <a href="#" class="hamburger aside-nav--open" title="Open Menu" aria-label="Open Menu"> menu </a>
  <h1 title="Emiliano Pisu - UI/UX Engineer">
    Emiliano Pisu <span class="text-primary">UI/UX Engineer and Teacher</span>
  </h1>
</header>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const aside = document.querySelector('aside');
    const asideOpen = document.querySelector('.aside-nav--open');

    asideOpen.addEventListener('click', () => {
      aside.classList.toggle('open');
    });
  });
</script>
