<aside>
  <nav>
    <!-- <figure
      href="javascript:scrollTo('#about')"
      v-on:mouseover="
        () => {
          figureHovered = true;
          figureAnimationMode = 'enter';
        }
      "
      v-on:mouseleave="
        () => {
          figureHovered = false;
          figureAnimationMode = 'leave';
        }
      "
      v-bind:style="{
        '--animation-name': figureHovered && figureAnimationMode === 'enter' ? 'portrait-enter' : 'portrait-leave',
        '--animation-duration': !!figureAnimationMode ? '.7s' : '0',
        '--translate-x': figureAnimationMode === 'enter' ? 0 : '-120%',
      }"
    >
      <g-image alt="profile of Emiliano Pisu" src="~/assets/images/profile.png" />
      <g-image alt="portrait of Emiliano Pisu" src="../assets/images/portrait.jpg" />
    </figure> -->
    <ul>
      <li>
        <a href="javascript:scrollTo('#about')">About</a>
      </li>
      <li>
        <a href="javascript:scrollTo('#workflow')">Workflow</a>
      </li>
      <li>
        <a href="javascript:scrollTo('#skills')">Skills</a>
      </li>
      <li>
        <a href="javascript:scrollTo('#projects')">Projects</a>
      </li>
      <li>
        <a href="javascript:scrollTo('#education')">Education</a>
      </li>
      <li>
        <a href="javascript:scrollTo('#interests')">Interests</a>
      </li>
      <li>
        <a href="javascript:scrollTo('#experience')">Experience</a>
      </li>
    </ul>
    <include src="./components/links.html" locals='{"basePath":"."}'></include>
  </nav>
  <a href="#" class="aside-nav--close" title="Close Menu" aria-label="Close Menu"></a>
</aside>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const aside = document.querySelector('aside');
    const asideClose = document.querySelector('.aside-nav--close');

    const scrollTo = (id) => {
      aside.classList.remove('open');
      // this.$scrollTo(id, 500, { offset: -document.querySelector('header').getBoundingClientRect().height });
    };

    // set focus to our open/close buttons after animation
    aside.addEventListener('transitionend', (e) => {
      if (e.propertyName !== 'transform') return;

      aside.classList.contains('open') && asideClose.focus();
    });

    asideClose.addEventListener('click', () => {
      aside.classList.remove('open');
    });

    // close our menu when esc is pressed
    aside.addEventListener('keyup', (e) => {
      if (e.code === 'Escape') aside.classList.remove('open');
    });
  });
</script>
