@import '../fonts/fonts';
@import 'semantic-reset';

@import 'variables';
@import 'mixins/mixins';
@import 'global';
@import 'typography';
@import 'layout/layout';
@import 'content/content';

// https://codepen.io/nadiarasul/pen/zqLVpZ multilayer parallax css

:root {
  --header-height: 5rem;
  --surface: lch(10 0 0);
  --surface2: lch(20 0 0);
  --text: lch(90 0 0);
  --text2: lch(70 0 0);
  --brandHSL: hsl(33, 95%, 48%);
  
  --base-clamp-threshold: 0.65vw;

  @media (prefers-color-scheme: light) {
    --surface: lch(90 0 0);
    --surface2: lch(100 0 0);
    --text: lch(20 0 0);
    --text2: lch(40 0 0);
  }
  
  @media (min-width: 1200px) {
    --header-height: 7rem;
  }
}

html {
  font-family: 'Fira Code', sans-serif;
  font-size: 10px;
}

body {
  font-size: clamp(100%, calc(1rem + var(--base-clamp-threshold)), 2.4rem);
  line-height: clamp(100%, calc(1.2rem + var(--base-clamp-threshold)), 2.6rem);
}

p {
  color: var(--text2);
  max-inline-size: 50ch;
}

a {
  color: var(--brandHSL);
  outline-color: var(--brandHSL);
  outline-offset: 5px;

  &:hover {
    color: var(--brandHSL);
  }
}
