<header data-header>
  <a data-mark href="#top" aria-label="{{ site.name }} home">
    <img src="assets/images/logo.svg" width="64" height="64" alt="" decoding="async" />
  </a>

  <div data-header-tools>
    <color-scheme-selector></color-scheme-selector>
    <display-preferences-popover></display-preferences-popover>
    <button data-nav-toggle type="button" aria-controls="site-nav" aria-expanded="false" aria-label="Menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" aria-hidden="true" focusable="false" viewBox="0 0 20 20">
        <rect width="16" height="1.5" x="2" y="5" fill="currentColor" rx=".75" />
        <rect width="16" height="1.5" x="2" y="9.25" fill="currentColor" rx=".75" />
        <rect width="16" height="1.5" x="2" y="13.5" fill="currentColor" rx=".75" />
      </svg>
    </button>
  </div>
</header>
